<mat-card class="about">
    <mat-card-title class="about-title">About Navjeevan</mat-card-title>
    <p>The Navjeevan project is now focusing on providing healthcare services to millions
        of peoples. This project is aiming to build a software which relies on alogorithms
    to provide healtcare advices.  </p>
    <hr>
    <p>
        In India most of the people are not able to afford doctors for discussing their
        medical problems and in order to serve them, I am creating this project. :)
    </p>
    <p>
        Expectations from this project is to build a simple website with a feature to
        provide and healthcare assistance to users.
    </p>
    <p>
        Who can contribute to this project.<br>
        Since this project is open source everyone is welcome to contribute and serve to
        the humanity.
    </p>
</mat-card>
