

<div class="dashboard-image">
    <img [src]="myImage" alt="image" class="img-lady-doctor">
    <div class="contents">

        <mat-card class="card-in-contents">
            <mat-card-title class="dashboard-title">Welcome to Navjeevan</mat-card-title>
            <mat-card-content class="intro-message">{{ introMessage }}</mat-card-content>
        </mat-card>
        <mat-card class="card-in-contents">
            <mat-card-title class="features">Features</mat-card-title>
        </mat-card>
        <mat-card class="card-in-contents">
            <mat-card-title class="contribution">Contribution</mat-card-title>
            <mat-card-content>
                <a routerLink="/contribution">Contribute</a>
            </mat-card-content>
        </mat-card>
    </div>

</div>
