.heading {
    display: inline-flex;
    margin-left: 40%;
    padding-right: 20%;
    color: #fff;
}
.signup-or-signin {
    background-color: #90c2ff;
    color: #201e2d;
    margin-left: 1%;
}
.header {
    background-color: #458167;
}