.img-lady-doctor {
    height: 700px;
    width: 700px;
}
.dashboard-image {
    padding: 30px;

}
.contents {
    float: right;
    margin-right: 15%;
}
.card-in-contents {
    height: 200px;
    width: 700px;
    margin: 10px;
    padding: 10px;
}
.intro-message {
    font-size: 22px;
    padding: 20px;
}
.dashboard-title {
    text-align: center;
}
